*
{
    font-family: Helvetica;
}
header
{
    text-align: center;
}
.nav
{
    text-align: center;
    background-color: aquamarine;
}
.line
{
    background-color: aquamarine;
    text-decoration: underline;
}
a
{
    text-decoration: none;
    color: black;
}
h1
{
    text-align: center;
}
hr
{
    color: black;
    border-style: solid;
    border-width: 3px;
}
.am
{
    font-size: x-large;
    margin-left: 295px;
}
.s
{
    font-size: x-large;
}
.si
{
    background-color: white;
    width: 160px;
    height: 143px;
}
.left
{
    float: left;
    text-align: left;
    width: 50%;
}
.right
{
    float: right;
    text-align: right;
    width: 50%;
}
.center
{
    float: center;
    text-align: center;
}
.p
{
    text-align: center;
}
.pi
{
    width: 255px;
    height: 150px;
    background-color: white;
}
.c
{
    font-size: x-large;
}
.ci
{
    width: 25px;
    height: 25px;
    background-color: white;
}
.cpi
{
    width: 200px;
    height: 205px;
}
.ai
{
    width:250px;
    height: 295px;
}
a:hover
{
    text-decoration: underline;
}
img
{
    box-shadow: 10px 10px 5px grey;
}
label
{
    text-decoration: underline;
}